{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <hr>
        <div class="list-group">
            <a href="{% url 'page-tools:list-pages-inbox-tool' %}" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-primary">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Gửi tin nhắn hàng loạt khách hàng cũ</h5>
                <span style="font-size: 30px; color: #666666">
                    <i class="far fa-envelope"></i>
                </span>
                </div>
                <p class="mb-1">Tool gửi tin nhắn hàng loạt cho khách hàng cũ không spam</p>
            </a>
            <hr>
        </div>
    </div>
{% endblock content %}