{% extends "base.html" %}
{% block content %}
  <div class="container">
        <h4 class="text-center">Chọn Trang Cần Sử Dụng Tool</h4>
    <a href="{% url 'home' %}" class="btn btn-danger btn-sm">Quay lại</a>
    <hr>
      <table class="table">
        <caption><a class="btn btn-secondary" href="{% url 'page-tools:update-list-pages' %}">Cập nhật danh sách trang</a></caption>
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Likes</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td style="height: 110px;">
                        <a href="{% url 'page-tools:page-detail' page.pk %}">
                            <div class="d-inline-block">
                                <img src="{{page.profile_picture_link}}" width="70px">
                                <div class="d-inline-block">
                                    <h6>{{page.name}}</h6>
                                    <small>{{page.uid}}</small>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td>{{page.likes}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Chưa Page Nào</td>
                </tr>
            {% endfor %}
            </tbody>
      </table>
  </div>
{% endblock content %}