{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'page-tools:list-pages-inbox-tool' %}">Chọn Trang</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'page-tools:page-detail' page.pk %}">{{ page.name }}</a></li>
                  <li class="breadcrumb-item" aria-current="page">Setting Content</li>
                </ol>
              </nav>
        <div class="col-lg-8 col-md-8">
                <a style="font-size: 48px;" href="{% url 'page-tools:list-pages-inbox-tool' %}">
                    <i class="fas fa-home"></i>
                </a>
                    <strong>{{page.name}}</strong>
            </div>
      <div class="row">
          <div class="col">
              <h4 class="text-center">TOKEN PAGE MANAGER</h4>
              <div class="card">
                  <div class="card-body">
                        <form method="POST">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name='tokenpagemanageradded' id="tokenpagemanageradded" placeholder="Thêm Token Page Manager">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                </div>
                            </form>
                      <table class="table">
                          <caption>Hệ thống sẽ tự động kiểm tra Token Die khi bạn reload page</caption>
                          <thead class="th-dark">
                              <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Tên</th>
                                  <th scope="col">Ảnh</th>
                                  <th scope="col">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for token_page_manager in tokens_page_manager  %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <a href="{{token_page_manager.tokenpagemanagerprofile.profile_link}}" target="_blank">
                                            {{token_page_manager.tokenpagemanagerprofile.name}}
                                            <br>
                                            <small>{{token_page_manager.tokenpagemanagerprofile.uid}}</small>
                                        </a>
                                    </td>
                                    <td><img src="{{token_page_manager.tokenpagemanagerprofile.profile_picture_link}}" width="50px"></td>
                                    <td><a href="{% url 'page-tools:page-delete-token-page-manager' page.pk token_page_manager.pk%}" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa Token này không');">Xóa</a></td>
                                </tr>

                              {% endfor %}
                          </tbody>
                      </table>
                      <div class="text-muted">
                          Hiện Có <strong style="color: red">{{ contents.count }}</strong> Content và <strong style="color: red">{{ tokens_page_manager.count }}</strong> Token Page Manager
                      </div>
                      <a href="{% url 'page-tools:page-send-inbox' page.pk %}" class="btn btn-outline-success btn-block">Tiếp Tục</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <h4 class="text-center">CONTENT</h4>
              <p class="text-muted">Để thêm tên đầy đủ, hãy thêm <strong style="color: red">[[full_name]]</strong>, auto emoji vui <strong style="color: red">[[emo_fun]]</strong></p>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-success">Thêm Content</button>
                </div>
            </form>
          </div>
      </div>
      <div class="card">
        <div class="card-body">
                <h4 class="text-center">Danh sách Content</h4>
            <table class="table">
                <caption>Thêm nhiều Content để gửi tin!</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ảnh</th>
                        <th scope="col">Content</th>
                        <th scope="col">Action</th>
                    </tr>
                <thead>
                    <tbody>
                        {% for content in contents %}
                            <tr>
                                <th scope="col">{{forloop.counter}}</th>
                                <td><img src="{{ MEDIA_URL }}{{content.image}}" alt="" width="40px"></td>
                                <td>{{content.content}}</td>
                                <td>
                                    <a href="{% url 'page-tools:page-update-content' page.pk content.pk %}" class="btn btn-primary btn-sm">Update</a>
                                    <a href="{% url 'page-tools:page-delete-content' page.pk content.pk %}" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa tin nhắn này không?')">Xóa</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
  </div>
{% endblock content %}
{% block script %}
  <script>
      $(document).ready(function() {
        $("#content").emojioneArea({
            pickerPosition: "bottom",
            filtersPosition: "bottom",
            tonesStyle: "checkbox"
        });
    });
  </script>
{% endblock script %}