{% extends "base.html" %}
{% block content %}
    <div class="container">
            <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'page-tools:list-pages-inbox-tool' %}">Chọn Trang</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'page-tools:page-detail' page.pk %}">{{ page.name }}</a></li>
                      <li class="breadcrumb-item" aria-current="page">Quét Tin nhắn</li>
                    </ol>
                  </nav>
        <div class="col-lg-8 col-md-8">
            <span style="font-size: 48px;">
                <i class="fas fa-home"></i>
            </span>
                {{page.name}}
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card border-0 shadow my-5">
                    <div class="card-body p-5">
                      <h1 class="font-weight-light">Quét tất cả UID sẽ mất một số thời gian, bạn chắc chắc muốn quét lại chứ?</h1>
                      <p class="lead">
                        <div class="text-center" id="confirm_get_uid">
                            <form method="POST" name="getalluid" id="getalluid">
                                {% csrf_token %}
                                <button class="btn btn-success btn-lg">Quét tất cả</button>
                                <input type="button" value="Hủy" onClick="javascript:history.go(-1);" class="btn btn-secondary btn-lg">
                            </form>
                        </div>
                        <div class="text-center loading_get_uid" style="display: none">
                            <div class="spinner-border text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <p>Hệ thống đang quét toàn bộ UID, bạn vui lòng chờ!</p>
                            <p id="added"></p>
                            <input type="hidden" id="totaluidscan" value="0">
                        </div>
                        <div class="success_get_uid text-center" style="display: none">
                            <span style="font-size: 48px; color: green;">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                      </p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        $("#confirm_get_uid").on("submit", function(e) {
            e.preventDefault();
            $("#confirm_get_uid").hide();
            $(".loading_get_uid").show();
            $.ajax({
                type: "POST",
                url: "{% url 'page-tools:page-send-inbox-ajax' page.pk %}",
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                },
                success: function(response) {
                    if (response.error) {
                        alert('Có lỗi xảy ra, kiểm tra lại đường truyền mạng hoặc Token!');
                    } else if (response.after) {
                        var totalscan = Number($("#totaluidscan").val())
                        totalscan += response.added
                        $("#totaluidscan").val(totalscan)
                        $("#added").html('Thêm ' + totalscan + 'UID <button class="btn btn-sm btn-success" disabled>Thành Công</button>');
                        get_uid_with_param_after(response.after);
                    }
                }
            });
        });
        function get_uid_with_param_after(after) {
            var xhra = $.ajax({
                type: "POST",
                url: "{% url 'page-tools:page-get-uid-after' page.pk %}",
                data: {
                    'after': after
                },
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                },
                success: function (response) {
                    console.log(response);
                    if (response.error) {
                        alert('Có lỗi xảy ra, kiểm tra lại đường truyền mạng hoặc Token!');
                        xhra.abort();
                    } else if (response.after) {
                        var totalscan = Number($("#totaluidscan").val())
                        totalscan += response.added
                        $("#totaluidscan").val(totalscan)
                        $("#added").html('Thêm ' + totalscan + 'UID <button class="btn btn-sm btn-success" disabled>Thành Công</button>');
                        get_uid_with_param_after(response.after);
                    } else {
                        $(".loading_get_uid").hide();
                        $(".success_get_uid").show();
                        $(".success_get_uid").append('<input type="button" value="Quay lại trang bắn tin" onClick="javascript:history.go(-1);" class="btn btn-secondary btn-lg">')
                    }
                }
            });
        }
    </script>
{% endblock script %}
