{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'page-tools:list-pages-inbox-tool' %}">Chọn Trang</a></li>
            <li class="breadcrumb-item"><a href="{% url 'page-tools:page-detail' page.pk %}">{{ page.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'page-tools:page-setting-send-inbox' page.pk %}">Setting Content</a></li>
            <li class="breadcrumb-item" aria-current="page">Update Content</li>
          </ol>
        </nav>
    <div class="row">
      <div class="col">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <div class="form-group text-right">
              <button type="submit" class="btn btn-success btn-lg">Cập nhật</button>
              <a href="{% url 'page-tools:page-setting-send-inbox' page.pk %}" class="btn btn-danger btn-lg">Hủy</a>
          </div>
          </form>
      </div>
      <div class="col">
        {% if content.image %}
          <img src="{{ MEDIA_URL }}{{ content.image }}" alt="" width="300px">
          <div class="text-right">
            <a href="{% url 'page-tools:page-delete-image-in-content' page.pk content.pk %}" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn bỏ ảnh này không');">Xóa Ảnh</a>
          </div>
        {% else %}
         <h4 class="text-muted text-center">Chưa có ảnh nào</h4>
        {% endif %}
      </div>
    </div>
    
{% endblock content %}
{% block script %}
<script>
        $(document).ready(function() {
          $("#content").emojioneArea({
              pickerPosition: "bottom",
              filtersPosition: "bottom",
              tonesStyle: "checkbox"
          });
      });
    </script>
{% endblock script %}