.space{ padding-top: 42px !important; }
.space-bot{ padding-bottom: 20px !important; }

.header__logo{
    width: 100px;
}

td {
    height: 75px;
}

a {
    color: #666666;
}

a:hover {
    color: #a6a6a6;
}

.image-token-user-navbar {
    width: 35px;
}

.card {
    border: none;
}


.page-item.active .page-link {
    background-color: #6666;
    border-color: #a6a6a6;
}

.page-link {
    color: #666666;
}

.page-link:hover {
    color: black;
}

.asteriskField {
    display: none;
}

.content-send-inbox {
    height: 190px!important;
}

.scroll-progress {
    height:500px;
    overflow-y: scroll;
}
